<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="5.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Fody" version="6.5.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.2" targetFramework="net472" />
  <package id="MQTTnet" version="3.0.15" targetFramework="net472" />
  <package id="MQTTnet.Extensions.ManagedClient" version="3.0.15" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
</packages>